html,body{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 3vmin;
    color: white;
    background-color: rgb(39, 39, 39);
}

button{
    border-style: none;
    padding: 0;
    margin: 0;
    font-size: 3vmin;
    color: white;
    background-color: darkred;
}

button:active{
    background-color: darkorange;
}

#root{
    display: flex;
    flex-direction: column;
    margin: 2.5vmin;
    gap: 2.5vmin;
    flex: 1;
}

    #scoreCon{
        display: flex;
        flex: 1;
        gap: 2.5vmin;
    }

        .score{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            background-color: darkred;
        }

    #gridCon{
        display: inline-grid;
        grid-template: repeat(3, 1fr)/repeat(3, 1fr);
        gap: 2.5vmin;
        flex: 5;
    }

    #restartCon{
        display: flex;
        flex: 1;
        gap: 2.5vmin;
    }

        .restart{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            background-color: darkred;
        }